$dark-blue: #7aa2d6;
$font-roboto: 'Roboto';

.blue-text {
  color: $dark-blue;
  font-size: 2rem;
  font-family: $font-roboto;
}

.paragraph {
  line-height: 150%;
  font-size: 1.5rem;
  text-align: justify;
}
