


.dark {
  background-color: #000000;
}
.card-image {
  height: 350px;
  border-radius: 10%;
}
.position {
  position: absolute;
  top: 65%;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.border {
  border: 2px solid pink;
  border-radius: 50%;
}
