@import '../../../assets/main.css';

$gray-color: #979797;
$pink-color: #eec197;
$light-blue: #8bb4ea;
$dark-blue: #7aa2d6;
$light-gray: #f6f6f6;
$light-blue2: #f9f9f9;
$font-roboto: 'Roboto';
$light-pink: #fee4cb;

.mycolorPink {
  background: $pink-color;
}

%fontType {
  font-family: 'Saira';
}

.fontHeader1 {
  @extend %fontType;
  color: $dark-blue;
}

.fontHeader2 {
  @extend %fontType;
  color: $gray-color;
  font-size: 1.1rem;
}

.parg1 {
  color: $gray-color;
  font-family: $font-roboto;
  font-size: 0.9rem;
}

.fontPrice {
  font-family: $font-roboto;
  color: #333333;
  font-size: 1.5rem;
}

.buttomText {
  font-family: $font-roboto;
  font-size: 1rem;
}

.highlight {
  font-family: $font-roboto;
  width: 15rem;
  height: 2.3rem;
  @media (max-width: 640px) {
    width: auto;
    height: 2rem;
  }
}

.bgGray {
  background: $light-gray;
}

.bgLightblue {
  background: $light-blue2;
}

.lightblue {
  background: $light-blue;
}

.imgGrideCarsouel {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 9rem;
  @media (max-width: 640px) {
    height: 5rem;
  }
}

.imageCardCarsouel {
  display: block;
  width: 100%;
  height: 19rem;
}

.active-card {
  left: 0px !important;
  position: relative !important;
}

.inactive-card {
  left: +100% !important;
  position: absolute !important;
}

.Card {
  border-style: none !important;
}
