.gray-text {
    color: #3A3A3A;;
    }
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #2F80ED;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #2F80ED;
}
