.blue-text {
    color: #2f80ed;
  }
  .gray-text {
    color: #727272;
    font-size: 1.3rem;
  }
  .paragraph {
    line-height: 150%;
    font-size: 1.5rem;
    text-align: justify;
  }
  .yellow-star {
    color: #e3f322;
  }
  