.log {
  background-color: #f3f3f3 !important;
  height: 400px;
  margin-top: 60px;
}
.social {
  margin-top: 20%;
}
.orr {
  background-color: #f3f3f3 !important;
  border-radius: 50%;
  border: 1px solid #f3f3f3;
  line-height: 5rem;
}
.verline {
  border-right: 2px solid #dddddd;
  height: 160px;
}
