@import './carsoulSection.css';

$gray-color: #979797;
$font-roboto: 'Roboto';
$pink-color:#eec197;
$light-blue: #8bb4ea;
$dark-blue:#7aa2d6;
$light-gray:#f6f6f6;

.mycolorPink {
  background:$pink-color ;
}

%fontType {
  font: 'Saira';
}

.fontHeader1 {
  @extend %fontType;
  color: $dark-blue;
}

.fontHeader2 {
  @extend %fontType;
  color: $gray-color;
  font-size:1.1rem;
}

.parg1 {
  color: $gray-color;
  font: $font-roboto;
  font-size:0.9rem ;
}
.fontPrice{
font:$font-roboto;
color:#333333;
font-size:0.3in;
}

.buttomText {
  font: $font-roboto;
  font-size: 15px;
}

.highlight {
  font: $font-roboto;
  size:16;
  height:0.4in;
}

.imgLarg {
  width:1.1in;
  height:1.6in;
}

.bgGray {
  background:$light-gray;
}
.bgLightblue{
  background: #F9F9F9;
}

.lightblue{
  background: $light-blue;
}