$gray-color: #979797;
$light-gray: #dadada;
$pink-color: #eec197;
$light-blue: #8bb4ea;
$dark-blue: #7aa2d6;
$light-gray: #f6f6f6;
$light-blue2: #bbe1fa;

.price {
  color: $light-blue;
}

.authorName {
  color: $dark-blue;
}

.grayColor {
  color: $light-gray;
}

.darkGray {
  color: $gray-color;
}

.dark {
  background-color: #0e0e0e;
}

.card-image {
  height: auto;
  border-radius: 5%;
}

.position {
  position: absolute;
  top: 60%;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.icon {
  border: 2px solid $pink-color;
  border-radius: 50%;
  color: $dark-blue;
}

.containerGridCards {
  height: 35.3rem;
}

.colMd11 {
  $colMd11: 'false';
  @media (max-width: 768px) {
    $colMd11: 'true';
  }
}

.imgCardBook {
  height: 16rem;
  @media (max-width: 640px) {
  }
}

.Card {
  border-style: none !important;
  @media (max-width: 1024px) {
    margin-right: 2px !important;
    margin-left: 2px !important;
  }
}

.blackOpacity {
  background: #0e0e0e;
  opacity: 0.8;
}

.HeaderCardBook {
  font-family: 'Roboto';
}

.smallStars {
  width: 0.1rem;
}

.lightBlue {
  color: $light-blue2;
}

.sizeStarsContainer {
  font-size: 0.5rem;
}

.mrSmallStars {
  margin-right: 0.15rem;
}

.marginTop {
  margin-top: 3.3rem;
  @media (max-width: 425px) {
    margin-top:0.3rem;
  }
}

.rightArrowOfGrid {
  right: -50px;
  top: 260px;
  @media (max-width: 425px) {
    display: none;
  }
}

.leftArrowOfGrid {
  left: -50px;
  top: 260px;
  @media (max-width: 425px) {
   display:none
  }
}

.dotsMargin{
  bottom: 25px !important;
}

.paddingZero{
  @media (max-width: 360px) {
    padding-right: 0px !important;
    padding-left: 0px !important;
   }
}